:root {

    /* COLOR PALLET */
    --black: #000;
    --slate-gray: #6C727F;
    --light-gray: #D9D9D9;
    --soft-white: #F8FAFC;

    /* FONT SIZES */
        --font-size-sm: 14px;
        --font-size-md: 16px;
        --font-size-lg: 20px;
        --font-size-xl: 36px;

}

body {
    background-color: var(--soft-white);
}

.article-list {
    padding: 2.625rem 2rem;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
}

.article-list__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.625rem;
    margin-bottom: 2.625rem;
}

.article-list__title {
    text-align: center;
    color: var(--black);
    font-size: var(--font-size-xl);
    font-weight: 600;
    width: 100%;
    max-width: 34.75rem;
}

.article-list__content {
    display: flex;
    flex-direction: column;
    gap: 3.25rem;
}

.article-list__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3.75rem;
}

.article__image {
    width: 160px;
    height: 160px;
    border-radius: 0.75rem;
}

.article__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.article__title {
    font-size: var(--font-size-lg);
    font-weight: 600;
    color: var(--black);
}

.article__date {
    font-size: var(--font-size-sm);
    color: var(--slate-gray);
}
